<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelter</title>
    <!-- [Свои стили] -->
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/normolize.css">
    <!-- [Конец своих стилей] -->
    <!--	[Swiper js]-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <!--	[Swiper js end]-->

</head>
<body>

<div class="wrapper">
    <div class="start_page-background">
        <div class="fix-bug">
        </div>
        <div class="start_page-container">
            <div class="start_page-container-navBar">
                <div class="start_page-container-logo-container">
                    <a href="/">
                        <p class="start_page-logo">Cozy House</p>
                    </a>
                    <p class="start_page-logo-description">Shelter for pets in Boston</p>

                </div>
                <div class="start_page-container-nav-buttons">
                    <a href="/">
                        <p>About the shelter</p>
                    </a>
                    <a href="/">
                        <p>Our pets</p>
                    </a>
                    <a href="/">
                        <p>Help the shelter</p>
                    </a>
                    <a href="/">
                        <p>Contacts</p>
                    </a>
                </div>
            </div>
            <div class="start_page-1-wrapper">
                <div class="start_page-1-contaienr">
                    <div class="start_page-1-makeFriend-container">
                        <div class="start_page-1-makeFriend-contents-name">
                            <p>Not only people need a house</p>
                        </div>

                        <div class="start_page-1-makeFriend-contents">
                            <p>We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than anybody else in the world, you will see!</p>
                        </div>

                        <div>
                            <button class="start_page-1-makeFriend-button">Make a friend</button>
                        </div>
                    </div>
                    <div class="start_page-1-contaienr-image-dog">
                        <img src="assets/img/mainPage/start-screen-puppy.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shelter_about-continer">
        <div class="shelter_about">
            <div>
                <img src="assets/img/mainPage/about-pets.png" alt="about-pets-image">
            </div>
            <div class="shelter_about-text">
                <span class="shelter_about-text-content-name">About the shelter <br> “Cozy House”</span>
                <p>Currently we have 121 dogs and 342 cats on our hands and statistics show that only 20% of them will find a family. The others will continue to live with us and will be waiting for a lucky chance to become dearly loved.</p>
                <p>We feed our wards with the best food and make sure that they do not get sick, feel comfortable (including psychologically) and well. We are supported by 87 volunteers and 28 employees of various skill levels. About 12% of the animals are taken by the shelter staff. Taking care of the animals, they become attached to the pets and would hardly ever leave them alone.</p>
            </div>
        </div>
    </div>
    <div class="pets">
        <div class="pets_container">
            <div class="pets-logo-container">
                <p class="pets-logo">Our friends who<br>are looking for a house</p>
            </div>
        </div>
        <div class="slider-pets-container">
            <div class="slider_row-left">
                <img src="assets/img/slider-pets/button_arrow.png" alt="row right">
            </div>

            <div class="slider-pets-image-container">
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="slide_pets-container">
                                <img src="assets/img/slider-pets/pets-katrine.png" alt="cat-katrine">
                                <p>Katrine</p>
                                <div class="slide_pets-button">
                                    <button>Learn more</button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide_pets-container">
                                <img src="assets/img/slider-pets/pets-jennifer.png" alt="dog-jenifer">
                                <p>Jennifer</p>
                                <div class="slide_pets-button">
                                    <button>Learn more</button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide_pets-container">
                                <img src="assets/img/slider-pets/pets-woody.png" alt="dog-woody">
                                <p>Woody</p>
                                <div class="slide_pets-button">
                                    <button>Learn more</button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide_pets-container">
                                <img src="assets/img/slider-pets/pets-katrine.png" alt="cat-katrine">
                                <p>Katrine</p>
                                <div class="slide_pets-button">
                                    <button>Learn more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider_row-right">
                <img src="assets/img/slider-pets/button_arrow.png" alt="row right">
            </div>
        </div>
        <div class="pets_get">
            <button class="pets_get-button">Get to know the rest</button>
        </div>
    </div>
    <div class="canHelp_container">
        <div>
            <p class="canHelp_logo">How you can help<br>our shelter</p>
        </div>
        <div class="canHelp_icons-container">
            <div class="canHelp_icons-1">
                <img src="assets/img/mainPage-CanHelp/Vector.png" alt="Pet Food">
                <p>Pet food</p>
            </div>
            <div class="canHelp_icons-2">
                <img src="assets/img/mainPage-CanHelp/transportation.png" alt="transportation">
                <p>Transportation</p>
            </div>
            <div class="canHelp_icons-3">
                <img src="assets/img/mainPage-CanHelp/toys.png" alt="toys">
                <p>Toys</p>
            </div>
            <div class="canHelp_icons-4">
                <img src="assets/img/mainPage-CanHelp/bowls-and-cups.png" alt="cups">
                <p>Bowls and cups</p>
            </div>
            <div class="canHelp_icons-5">
                <img src="assets/img/mainPage-CanHelp/shampoos.png" alt="shamopps">
                <p>Shampoos</p>
            </div>
        </div>
        <div class="canHelp_container2">
            <div class="canHelp_icons-container2">
                <div class="canHelp_icons-6">
                    <img src="assets/img/mainPage-CanHelp/vitamins.png" alt="vitamins">
                    <p>Vitamins</p>
                </div>
                <div class="canHelp_icons-7">
                    <img src="assets/img/mainPage-CanHelp/medicines.png" alt="medicines">
                    <p>Medicines</p>
                </div>
                <div class="canHelp_icons-8">
                    <img src="assets/img/mainPage-CanHelp/collars-or-leashes.png" alt="cllars">
                    <p>Collars / leashes</p>
                </div>
                <div class="canHelp_icons-9">
                    <img src="assets/img/mainPage-CanHelp/sleeping-area.png" alt="Sleeping areas">
                    <p>Sleeping areas</p>
                </div>
            </div>
        </div>
    </div>
    <div class="donation_container">
        <div class="donation_container-wrapper">
            <img src="assets/img/mainPage/donation-dog.png" alt="donation-dog">
            <div class="donation_container-information">
                <p>You can also <br> make a donation</p>
                <p>Name of the bank / Type of bank account</p>
                <div class="donation_container-card-container">
                    <img src="assets/img/mainPage/credit-card.png" alt="credit-card-ico">
                    <p>8380 2880 8028 8791 7435</p>
                </div>
                <p>Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_contactInfo">
            <p>For questions and suggestions</p>
            <div>
                <img src="assets/img/footer/mail.png" alt="mail-ico">
                <p>email@shelter.com</p>
            </div>
            <div>
                <img src="assets/img/footer/phone.png" alt="phone-ico">
                <p>+13 674 567 75 54</p>
            </div>
        </div>
        <div class="shelter-location">
            <p>We are waiting for your visit</p>
            <div>
                <img src="assets/img/footer/pin.png" alt="pin-ico">
                <p>1 Central Street, Boston (entrance from the store)</p>
            </div>
            <div>
                <img src="assets/img/footer/pin.png" alt="pin-ico">
                <p>18 South Park, London </p>
            </div>
        </div>
        <div class="footer-dog">
            <img src="assets/img/footer/footer-puppy.png" alt="footer-dog">
        </div>
    </footer>
</div>
<script src="assets/js/index.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="assets/js/swiper.js"></script>